<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662219769449-tm62fjg38rkq52tkgsp6l3219hv4tu1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662219769449-tm62fjg38rkq52tkgsp6l3219hv4tu1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAXAnCT6wx3BCV4p2ZbP-tQ9WhIVVoCkW8</string>
	<key>GCM_SENDER_ID</key>
	<string>662219769449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maanas.EventiLatte</string>
	<key>PROJECT_ID</key>
	<string>eventplanner-e12a0</string>
	<key>STORAGE_BUCKET</key>
	<string>eventplanner-e12a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662219769449:ios:8e552b6ace99146ae7c4f8</string>
</dict>
</plist>